<mat-sidenav-container class="cw-sidenav-container">
  <mat-sidenav class="cw-sidenav" #sidenav align="start" [mode]="'over'" [opened]="false">
    <!--Sidenav content-->
    <div>
      <div fxLayout="column" fxLayoutAlign="center center" class="cw-sidenav-user-area">
        <div>
          <mat-icon class="cw-sidenav-avatar" color="primary">account_circle</mat-icon>
        </div>
        <div>
          <span class="cw-sidenav-text">EKOODI summer school</span>
          <br>
          <span fxLayoutAlign="center center" class="cw-sidenav-text">Joona Heinikari</span>
        </div>
      </div>
      <div>
        <mat-nav-list>
          <mat-list-item>
            <button mat-raised-button color="primary" routerLink="login" (click)="sidenav.toggle()">SIGN OUT</button>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <div fxFlexFill class="cw-sidenav-content">
    <cw-toolbar (MenuClick)="sidenav.toggle()"></cw-toolbar>
    <div class="cw-app-container">
      <!--App-->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>




